<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cloudImage</key>
		<string>cloud_tab_image_01</string>
		<key>cloudTitle</key>
		<string>深圳云栖大会Workshop - 通过用户点击进行热门内容推荐</string>
		<key>cloudMessage</key>
		<string>通过用户点击进行热门内容推荐 目标 熟悉日志服务的功能，使用场景通过手机直播网站的日志数据，进行实施数据分析</string>
		<key>cloudUser</key>
		<string>猫咪宝贝</string>
		<key>cloudUserImage</key>
		<string>user_00</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>browseLabel</key>
		<string>205人浏览</string>
		<key>dateLabel</key>
		<string>一天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>cloudImage</key>
		<string>cloud_tab_image_02</string>
		<key>cloudTitle</key>
		<string>有技术，爱写博客？那就来云栖社区吧！无人机大奖等你拿！</string>
		<key>cloudMessage</key>
		<string>你是否写过技术博客？为什么写技术博客？只因在当初，解决了一个技术难题，或学习了一个新的技巧，将它以文章形式记录并分享</string>
		<key>cloudUser</key>
		<string>单身狗ig</string>
		<key>cloudUserImage</key>
		<string>user_01</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>browseLabel</key>
		<string>105人浏览</string>
		<key>dateLabel</key>
		<string>一天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>cloudImage</key>
		<string>cloud_tab_image_03</string>
		<key>cloudTitle</key>
		<string>靠谱么？人工智能为《我是歌手4》“占卜”</string>
		<key>cloudMessage</key>
		<string>《我是歌手4》总决赛，一起来看看阿里云小Ai的“占卜”能力如何？</string>
		<key>cloudUser</key>
		<string>喵喵</string>
		<key>cloudUserImage</key>
		<string>user_02</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>browseLabel</key>
		<string>115人浏览</string>
		<key>dateLabel</key>
		<string>一天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>cloudImage</key>
		<string>cloud_tab_image_04</string>
		<key>cloudTitle</key>
		<string>阿里云年会人机大战 - 技术大揭秘</string>
		<key>cloudMessage</key>
		<string>上一片文章中人工智能PK金牌速记员之实战录，我们讲述了阿里云年会人机大战背后的故事。技术Geek们可能就好奇了？</string>
		<key>cloudUser</key>
		<string>阿斯顿马丁</string>
		<key>cloudUserImage</key>
		<string>user_03</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>browseLabel</key>
		<string>25人浏览</string>
		<key>dateLabel</key>
		<string>一天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>cloudTitle</key>
		<string>阿里云年会人机大战 - 技术大揭秘</string>
		<key>cloudMessage</key>
		<string>上一片文章中人工智能PK金牌速记员之实战录，我们讲述了阿里云年会人机大战背后的故事。技术Geek们可能就好奇了？</string>
		<key>cloudUser</key>
		<string>科目三必过</string>
		<key>cloudUserImage</key>
		<string>user_04</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>browseLabel</key>
		<string>20人浏览</string>
		<key>dateLabel</key>
		<string>二天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>cloudImage</key>
		<string>cloud_tab_image_01</string>
		<key>cloudTitle</key>
		<string>深圳云栖大会Workshop - 通过用户点击进行热门内容推荐</string>
		<key>cloudMessage</key>
		<string>通过用户点击进行热门内容推荐 目标 熟悉日志服务的功能，使用场景通过手机直播网站的日志数据，进行实施数据分析</string>
		<key>cloudUser</key>
		<string>马云</string>
		<key>cloudUserImage</key>
		<string>user_05</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>browseLabel</key>
		<string>198人浏览</string>
		<key>dateLabel</key>
		<string>三天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>cloudTitle</key>
		<string>有技术，爱写博客？那就来云栖社区吧！无人机大奖等你拿！</string>
		<key>cloudMessage</key>
		<string>你是否写过技术博客？为什么写技术博客？只因在当初，解决了一个技术难题，或学习了一个新的技巧，将它以文章形式记录并分享</string>
		<key>cloudUser</key>
		<string>Sunnyzx</string>
		<key>cloudUserImage</key>
		<string>user_06</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>browseLabel</key>
		<string>118人浏览</string>
		<key>dateLabel</key>
		<string>三天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
</array>
</plist>
