<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleLabel</key>
		<string>活跃在GitHub上的20个阿里程序员</string>
		<key>textLabel</key>
		<string>在GitHub上从来都不缺少阿里工程师们喝程序媛们的身影，想知道位于中国排名前100有哪些阿里同学们吗？他（她）们究竟又是何方神圣呢？今天小编就</string>
		<key>userLabel</key>
		<string>bluecat1103</string>
		<key>userImage</key>
		<string>user_00</string>
		<key>browseLabel</key>
		<string>16人浏览</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>dateLabel</key>
		<string>三天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>titleLabel</key>
		<string>5.20 Redis中国用户组成立了，约吗？</string>
		<key>textLabel</key>
		<string>热烈祝贺Redis中国用户会成立！官方网站：Redis.cn QQ群：521593946</string>
		<key>userLabel</key>
		<string>pfytlm</string>
		<key>userImage</key>
		<string>user_01</string>
		<key>browseLabel</key>
		<string>7511人浏览</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>dateLabel</key>
		<string>三天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>titleLabel</key>
		<string>中型存储架构实践探索</string>
		<key>textLabel</key>
		<string>对于中小型的站点，“如何在资源有限的情况下，实现一个稳定，高效，靠谱的存储方案”。小拽在实践过程使用的一个存储架构，拿出来分享交流</string>
		<key>userLabel</key>
		<string>cuixiaozhuai</string>
		<key>userImage</key>
		<string>user_02</string>
		<key>browseLabel</key>
		<string>431人浏览</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>dateLabel</key>
		<string>五天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>titleLabel</key>
		<string>E－MapReduce结合DataV进行数据展现</string>
		<key>textLabel</key>
		<string>背景 大部分我们的数据处理作业在完成计算以后，都希望能够把结果可视化的展示出来，形成类似每日报表这样的东西，供大家直接的观察。</string>
		<key>userLabel</key>
		<string>ericli</string>
		<key>userImage</key>
		<string>user_03</string>
		<key>browseLabel</key>
		<string>77人浏览</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>dateLabel</key>
		<string>六天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>titleLabel</key>
		<string>阿里云SLB漏选“健康检查正常的http状态码”导致url重点向失败问题处理</string>
		<key>textLabel</key>
		<string>阿里云SLB健康检查状态码选择不正确，导致nginx url访问网站失败。</string>
		<key>userLabel</key>
		<string>goodlife</string>
		<key>userImage</key>
		<string>user_04</string>
		<key>browseLabel</key>
		<string>61人浏览</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>dateLabel</key>
		<string>六天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>titleLabel</key>
		<string>安全有道之如何打造互联网＋医疗的“防弹衣”？</string>
		<key>textLabel</key>
		<string>5月17日2016年云栖大会武汉峰会拉开帷幕，本文来自阿里云安全事业部易鑫、恒生芸泰联合创始人黄正威题为“阿里云智慧医疗安全解决方案”</string>
		<key>userLabel</key>
		<string>云学习小组</string>
		<key>userImage</key>
		<string>user_05</string>
		<key>browseLabel</key>
		<string>717人浏览</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>dateLabel</key>
		<string>七天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
	<dict>
		<key>titleLabel</key>
		<string>对无线电商动态化方案的思考</string>
		<key>textLabel</key>
		<string>Week都比较宏观和抽象，今天我们分享一些其中的技术细节</string>
		<key>userLabel</key>
		<string>勾股</string>
		<key>userImage</key>
		<string>user_06</string>
		<key>browseLabel</key>
		<string>45人浏览</string>
		<key>browseImage</key>
		<string>browse_image</string>
		<key>dateLabel</key>
		<string>八天前</string>
		<key>transmitButton</key>
		<string>transmit_image</string>
	</dict>
</array>
</plist>
