<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellGroup</key>
		<array>
			<dict>
				<key>cellIcon</key>
				<string>my_activity_22x22_</string>
				<key>cellName</key>
				<string>我的活动</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cellGroup</key>
		<array>
			<dict>
				<key>cellIcon</key>
				<string>month_comsumption_22x22_</string>
				<key>cellName</key>
				<string>当月消费</string>
			</dict>
			<dict>
				<key>cellIcon</key>
				<string>remaining_sum_22x22_</string>
				<key>cellName</key>
				<string>账户余额</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cellGroup</key>
		<array>
			<dict>
				<key>cellIcon</key>
				<string>invitation_code_22x22_</string>
				<key>cellName</key>
				<string>我的推荐码</string>
			</dict>
			<dict>
				<key>cellIcon</key>
				<string>cupon_22x22_</string>
				<key>cellName</key>
				<string>代金券</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cellGroup</key>
		<array>
			<dict>
				<key>cellIcon</key>
				<string>setting_22x22_</string>
				<key>cellName</key>
				<string>设置</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cellGroup</key>
		<array>
			<dict>
				<key>cellIcon</key>
				<string>scan_22x22_</string>
				<key>cellName</key>
				<string>扫一扫</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
